.post-container {
  max-width: 80%;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
}

.post-img {
  max-width: 100%;
}

@media only screen and (max-width: 400px) {
  .post-container {
    max-width: 90%;
    gap: 10px;
    line-height: 18px;
  }
  .post-title,
  .author,
  .post-description-preview {
    font-size: 12px;
  }
}

@media only screen and (min-width: 850px) {
  .post-container {
    max-width: 90%;
    grid-template-columns: 0.33fr 0.67fr;
  }
  .details{
    display: flex;
    flex-direction: row;
  }
}
